<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='img/fav/favicon.ico') }}" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/fav/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/fav/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/fav/favicon-16x16.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>{% block title %}YaCut - укоротитель ссылок{% endblock %}</title>
  </head>

  <body>
    {% include 'header.html' %}
    <main>
      {% block content %}{% endblock %}
    </main>
    {% include 'footer.html' %}
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="container">
          <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
              {% for message in messages %}
                <div class="alert alert-info text-center">
                  {% if 'http://' in message or 'https://' in message %}
                    {% if 'Ваша короткая ссылка:' in message %}
                      {% set link = message.split(': ')[1] %}
                      Ваша короткая ссылка: <a href="{{ link }}" target="_blank">{{ link }}</a>
                    {% else %}
                      <a href="{{ message }}" target="_blank">{{ message }}</a>
                    {% endif %}
                  {% else %}
                    {{ message }}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
            <div class="col-sm">
            </div>
          </div>
        </div>
      {% endif %}
    {% endwith %}
    
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
