{% extends "base.html" %}

{% block title %}YaCut - укоротитель ссылок{% endblock %}

{% block content %}
<section class="container my-5 px-4">
  <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
  <p class="text-center my-4">
    Создайте короткую ссылку автоматически или предложите свой вариант
  </p>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success text-center">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% if short_link %}
    <div class="alert alert-info text-center">
      Ваша короткая ссылка: <a href="{{ short_link }}">{{ short_link }}</a>
    </div>
  {% endif %}

  <div class="container">
    <div class="row my-3">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <form method="POST">
          {{ form.hidden_tag() }}
          <div>
            <div>
              {{ form.original_link(class="form-control form-control-lg py-2 mb-3", placeholder="Длинная ссылка") }}
              {% for error in form.original_link.errors %}
                <p><span style="color:red">{{ error }}</span></p>
              {% endfor %}
            </div>
            <div>
              {{ form.custom_id(class="form-control form-control-lg py-2 mb-3", placeholder="Ваш вариант короткой ссылки") }}
              {% for error in form.custom_id.errors %}
                <p><span style="color:red">{{ error }}</span></p>
              {% endfor %}
            </div>

            {{ form.submit(class="btn btn-primary") }}
          </div>
        </form>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>

</section>
{% endblock %}
